<%= form_for(@wine_class) do |f| %>
  <% if @wine_class.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wine_class.errors.count, "error") %> prohibited this wine_class from being saved:</h2>

      <ul>
      <% @wine_class.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :meeting_time %><br>
    <%= f.date_select :meeting_time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
