<p id="notice"><%= notice %></p>

<div class="card">
          <div style="width: 50%">
            <div style="float: left">
              <h3>Wine Producer: <b><%= @wine.producer %></b></h3>
            </div>
            <div style="float: right">
              <h3>Grape(s): <b><%= @wine.grape %></b></h3>
            </div>
            <div style="clear: both"></div>
            <div style="float: left">
              <h3>Country: <b><%= @wine.country %></b></h3></div>
            <div style="float: right">
              <h3>Regison: <b><%= @wine.region %></b></h3>
            </div>
            <div style="clear: both"></div>
            <div style="float: left">
              <h3>Year: <b><%= @wine.vintage %></b></h3></div>
            <div style="float: right">
              <h3>Price: <b><%= @wine.price %></b></h3>
            </div>
            <div style="clear: both"></div>
            <div style="float: left">
              <h3>Alcohol %: <b><%= @wine.alcohol_percentage %></b></h3>
            </div>
          </div>
          <div style="clear: both"></div>
          </div>

<%= link_to 'Edit', edit_wine_path(@wine) %> |
<%= link_to 'Back', wines_path %>
